# Dependencies
**/node_modules

# Build output
**/dist
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.local.bak
.env.*.local
.env.netlify
.env.vercel
.env.*.bak
*.pem
*.key

# OS files
**/.DS_Store
Thumbs.db

# IDE
**/.vscode
**/.idea

# Backup folders
_backup_*

# Temporary files
*.tmp
*.log
*.swp
.vercel
.env*.local

# Local Netlify folder
.netlify
